/* This is a action when we use the hamburger menu and for resposive action */

@media screen and (max-width: 1400px) {
    #profile {
        display: flex;
        /* flex-flow: column; */
        /* gap: 20rem; */
        /* background-color: blue; */
        /* margin-bottom: 6rem; */
        /* align-items: wrap; */
    }

    #hamburger-nav {
        display: none;
        height: 30vh;
    }

    .about-containers {
        gap: 5rem;
        margin-bottom: 2rem;
    }

    #about {
        position: relative;
        margin-top: 10%;
        margin-bottom: 30%;
        height: fit-content;
    }

    .section-container-custom {
        font-size: 2rem;
    }

    .section-coursework {
        padding-top: 3rem;
        font-size: 1.5rem;
    
    }

    .about-containers,
    .about-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
    /* background-color: black; */
    }

    .details-container { 
        padding: 1.5rem;
        flex: 0.5;
        width: 25%;
        margin: 1%;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;
    }
}


@media screen and (max-width: 1200px) {

     #profile {
        display: flex;
        height: 83vh;
        /* flex-flow: column; */
        gap: 20rem;
        /* background-color: blue; */
        /* margin-bottom: 6rem; */
        /* align-items: wrap; */
    }

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        height: 30vh;
    }
    #experience, 
    .experience-details-container {
        margin-top: 2rem;
    }

    #profile,
    .section-container {
        display: flex;
        height: 67vh;
        margin-bottom: 18rem;
        gap: 0;
    }
    
    .about-containers {
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        /* display: flex; */
        /* flex-flow: column; */
        justify-content: fit-content;
        height: fit-content;

    }

    section {
        margin: 0 5%;
    }

    .section__pic-container-about
    .section__pic-container-profile{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .section-college {
        font-size: 1.5rem;
    }

    .section-coursework {
        font-size: 3em;
    
    }
    
    .about-containers,
    .about-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
    /* background-color: black; */
    }

    .details-container { 
        padding: 1.5rem;
        flex: 0.5;
        width: 25%;
        margin: 1%;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;
    }

    .section-container-custom {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: 400;
        width: auto;
        height: 100px;
        gap: 1rem;
        white-space: nowrap;
        padding-top: 10%;
    }
    
    .berkeley-logo {
        width: 9rem;
        height: 9rem;
    }
    
    .section-college {
        color: black;
        font-size: 1.5rem;
    }

    .section-coursework {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 0.5cm;
        gap: 1.3rem;
        margin-top: 5rem;
        height: max-content;
        padding-left: 6%;
        /* background-color: blue; */
    }


}

@media screen and (max-width: 1000px) {

    #profile {
       display: flex;
       height: 83vh;
       /* flex-flow: column; */
       gap: 20rem;
       /* background-color: blue; */
       /* margin-bottom: 6rem; */
       /* align-items: wrap; */
   }

   #desktop-nav {
       display: none;
   }
   #hamburger-nav {
       display: flex;
       height: 15vh;
   }
   #experience, 
   .experience-details-container {
       margin-top: 2rem;
   }

   #profile,
   .section-container {
       display: flex;
       height: 67vh;
       margin-bottom: 18rem;
       gap: 0;
   }
   
   .about-containers {
       gap: 2rem;
       margin-bottom: 2rem;
   }

   .arrow {
       display: none;
   }

   section,
   .section-container {
       /* display: flex; */
       /* flex-flow: column; */
       justify-content: fit-content;
       height: fit-content;

   }

   section {
       margin: 0 5%;
   }

   .section__pic-container-about
   .section__pic-container-profile{
       width: 275px;
       height: 275px;
       margin: 0 auto 2rem;
   }

   .section-college {
       font-size: 1.5rem;
   }

   .section-coursework {
       font-size: 3em;
   
   }
   
   .about-containers,
   .about-details-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center
   /* background-color: black; */
   }

   .details-container { 
       padding: 1.5rem;
       flex: 0.5;
       width: 25%;
       margin: 1%;
       background: white;
       border-radius: 2rem;
       border: rgb(53, 53, 53) 0.1rem solid;
       border-color: rgb(163, 163, 163);
       text-align: center;
   }

   .section-container-custom {
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 10px;
       font-weight: 400;
       width: auto;
       height: 100px;
       gap: 1rem;
       white-space: nowrap;
       padding-top: 10%;
   }
   
   .berkeley-logo {
       width: 3.3rem;
       height: 3.3rem;
   }
   
   .section-college {
       color: black;
       font-size: 0.5rem;
   }

   .section-coursework {
       display: flex;
       justify-content: center;
       align-items: center;
       white-space: nowrap;
       font-weight: 400;
       font-size: 1.3rem;
       line-height: 0.5cm;
       margin-top: 0;
       margin-bottom: 17rem;
       gap: 0;
       height: max-content;
       padding-left: 6%;
       /* background-color: blue; */
   }


}

@media screen and (max-width: 600px) {

    p {
        color: rgb(85, 85, 85);
        font-size: 0.7rem;
    }

    .experience-sub-title {
        font-size: 1rem;
    }


    .section-container-custom {
        font-size: 0.6rem;
    }

    .section-coursework {
        font-size: 0.5em;
    
    }
 
    h3 {
        font-size: 0.8rem;
    }

    #contact, 
    footer {
        height: 40vh;
    }

    #hamburger-nav {
        display: flex;
        /* height: 120px; */
        /* background-color: aqua; */
        padding-top: 10px;
    }

    #profile {
        height: 83vh;
        /* margin-bottom: 0px; */
        /* background-color: blue; */
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
        /* background-color: blue; */
    }

    .contact-info-upper-container, 
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }


    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    
    .section__pic-container-profile {
        width: auto;
        height: 350px;
        justify-content: center;
        /* background-color: blue; */
    }
    
    .section__pic-container-about {
        width: auto;
        height: 50vw;
        justify-content: center;
    }


    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    .about-containers,
    .about-details-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;

    }

    .section-coursework { 
        align-items: center;
        justify-content: center;
    }

    .details-container { 
        padding: 1.5rem;
        flex: 1 1 100%;
        width: 25%;
        margin: 1%;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;
    }

    li {
        margin: 0px 0;
        padding: 0px;
    }
}